@import "../../styles/global";

.card{
  width:90%;
  border:1px solid lightgray;
  @include borderR(0.5);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition:all $transition-time-basic;
}

.card:hover {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  transform: scale(1.01);
}

.todo-button-container{
  display: flex;
  flex-flow:row wrap;
  align-content: center;
  @include padV(1);
  border-radius: inherit;
}

.complete:hover{
  color:action-color('complete');
}

.delete:hover{
  color:action-color('delete');
}