/*proportional */
/*basic size for margin and padding*/
/*timing*/
/*Media sizes*/
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Xtra Medium devices (landscape tablets, 820px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Mega large devices (large laptops and desktops, 1200px and up) */
/*coeffs for video sizing mixins*/
/*margins*/
/*allround*/
.testmarginator {
  margin-top: 6em;
}

/*padding*/
.ph10 {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.top-nav-link:hover {
  cursor: pointer;
  background-color: lightgray;
}

/*proportional */
/*basic size for margin and padding*/
/*timing*/
/*Media sizes*/
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Xtra Medium devices (landscape tablets, 820px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Mega large devices (large laptops and desktops, 1200px and up) */
/*coeffs for video sizing mixins*/
.container-flex {
  display: flex;
  align-content: center;
  flex-flow: column wrap;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid green;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container-flex {
    width: 60vw;
  }
}
.menu-wrapper {
  height: 4rem;
  margin: 10px auto;
  border: 1px solid blue;
  width: 90vw;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 720px;
  display: flex;
}

.recipe-menu-items {
  border: 1px solid red;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.recipe-menu-item {
  border: 1px solid green;
  height: 100%;
  align-content: center;
  text-align: center;
  padding: 1rem 1rem;
  transition: 0.075s;
}

.recipe-menu-item:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
  transform: scale(1.05);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .menu-wrapper {
    width: 480px;
    padding-bottom: 68.25%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .menu-wrapper {
    width: 480px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 738px) {
  .menu-wrapper {
    width: 516.6px;
  }
}
/* Medium devices (landscape tablets, 820px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .menu-wrapper {
    width: 595.2px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1125px) {
  .menu-wrapper {
    width: 562.5px;
  }
}
/* Mega large devices (large laptops and desktops, 1480px and up) */
@media only screen and (min-width: 1480px) {
  .menu-wrapper {
    width: 740px;
  }
}

/*# sourceMappingURL=RecipeMenu.css.map */
