/*margins*/
/*allround*/
.m0{
  margin:0;
}
.m5{
  margin:0.5*$sizing-unit;
}
.m10{
  margin: $sizing-unit;
}
.m15{
  margin: 1.5*$sizing-unit;
}

/*symmetrical horizontal*/
.mh5{
  margin-left:0.5*$sizing-unit;
  margin-right:0.5*$sizing-unit;
}
.mh10{
  margin-left:$sizing-unit;
  margin-right:$sizing-unit;
}
