/*margins*/
/*allround*/

@mixin marg($n){
  padding:$n * 1rem;
}

@mixin margH($n){
  padding-left:$n*1rem;
  padding-right:$n*1rem;
}

@mixin margV($n){
  padding-top:$n*1rem;
  padding-bottom:$n*1rem;
}